.header {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 92px 49px 92px 51px;
}

.header_menu {
    
    align-self: center;
}

.header_menu a {
    text-decoration: none;
}

.address {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    justify-self: end;
    align-self: center;
    
}

.address a {
    text-decoration: none;
}

.header_logo {
    display: block;
    align-self: center;
    justify-self: center;
    max-width: 137px;
}

.header_link {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    font-style: normal;
    border-bottom: 1px solid #000;
}

.header_links-list-item_no-bullit {
    list-style: none;
    
}

.header_links-list-item {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    font-style: normal;
    max-width: 240px;
}

.header__link_active {
    list-style: none;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    
}

.header_menu .header_links-list {
    display: flex;
    gap: 32px;
    list-style: circle;
    
}

.cover {

}

.lots {
    padding: 180px 50px;
}

.about {
    padding: 180px 50px;
}

.footer {
    padding: 180px 50px 90px;
}

